<div class="container">
  <h1 class="text-xl font-medium mt-2 mb-4">🎨 Colour Palettes</h1>

  <div class="mb-4 md:mb-6">
    <p>
      Load up colour palettes to use across this website. Colour palettes are stored locally in <code>localStorage</code>.
    </p>
  </div>

  <div class="mb-4 md:mb-6">
    <h2 class="font-medium text-lg text-td_grey_500 dark:text-td_grey_900 pb-2">Copy Mode</h2>

    <div class="flex gap-6">
      <label class="block md:inline-block mb-1 cursor-pointer">
        <input type="radio" value="hex" name="copy_mode" (ngModelChange)="changeMode($event)" [(ngModel)]="copyMode" /> <span class="ml-2 py-1">Hex</span>
      </label>

      <label class="block md:inline-block mb-1 cursor-pointer">
        <input type="radio" value="hsl" name="copy_mode" (ngModelChange)="changeMode($event)" [(ngModel)]="copyMode" /> <span class="ml-2 py-1">HSL</span>
      </label>

      <label class="block md:inline-block mb-1 cursor-pointer">
        <input type="radio" value="rgb" name="copy_mode" (ngModelChange)="changeMode($event)" [(ngModel)]="copyMode" /> <span class="ml-2 py-1">RGB</span>
      </label>

      <label class="block md:inline-block mb-1 cursor-pointer">
        <input type="radio" value="android_compose" name="copy_mode" (ngModelChange)="changeMode($event)" [(ngModel)]="copyMode" /> <span class="ml-2 py-1">Android (Jetpack Compose)</span>
      </label>
    </div>
  </div>


  <!-- Colour Palettes -->

  <div class="mb-4 md:mb-6">
    <h2 class="mb-3 text-lg font-medium text-td_grey_500 dark:text-td_grey_900">
      Colour Palettes
    </h2>

    <div class="mb-4 md:mb-6">
      <p>
        Clicking on a swatch will copy the displayed text to your clipboard. Change the mode above.
      </p>
    </div>

    <div *ngFor="let palette of palettes; let idx = index" class="mb-4 md:mb-8">
      <div class="flex justify-between">
        <h3 class="font-medium text-td_grey_500 dark:text-td_grey_900">{{palette.name}}</h3>

        <!-- actions -->
        <div>
          <!-- TODO: delete -->
          <!-- TODO: edit -->
           <button
            class="flex gap-1 items-center bg-td_dangerRed text-white dark:text-black text-sm px-2 py-1 rounded-sm font-semibold"
            (click)="deletePaletteAtIndex(idx)"
           >
              <icon-trash></icon-trash>
              Delete
           </button>
        </div>
      </div>

      <div class="pt-2 grid md:grid-cols-4 gap-1">
        <div
          *ngFor="let swatch of palette.colours"
          [ngStyle]="{ 'background': swatch }"
          class="w-full  h-[100px] p-3 rounded-sm cursor-pointer"
          (click)="copyColour(swatch)"
        >
          <span class="bg-black text-white py-1 px-2 rounded-sm text-sm">
            <span *ngIf="copyMode == 'hex'">{{swatch.hex()}}</span>
            <span *ngIf="copyMode == 'hsl'">{{swatch.hsl().round().string()}}</span>
            <span *ngIf="copyMode == 'rgb'">{{swatch.rgb().string()}}</span>
            <span *ngIf="copyMode == 'android_compose'">Color(0xFF{{swatch.hex().replace('#', '')}})</span>
          </span>
        </div>
      </div>
    </div>
  </div>


  <!-- Add colour palette -->
  <div class="mb-4 md:mb-6">
    <div class="mb-2">
      <h2 class="font-medium text-lg text-td_grey_500 dark:text-td_grey_900 pb-2">
        🚧 Add a Colour Palette
      </h2>
      <p>
        🚧 You can add a colour palette with JSON now <a class="text-link" href="https://github.com/tinacious/colour-tools/issues/1" target="_blank">until a GUI is built</a>.
      </p>
    </div>

    <!-- TODO: Add colours with a GUI -->
    <textarea
      [(ngModel)]="defaultPalette"
      class="mb-1 w-full border-2 border-td_grtext-td_grey_900 dark:border-td_grey_400 bg-white dark:bg-td_grey_100 rounded-sm focus:border-td_pink focus:outline-none h-[230px] px-2 py-1 font-mono"
    ></textarea>

    <button
      class="rounded-sm bg-td_pink text-white dark:text-black font-semibold py-2 px-3"
      (click)="addPalette()"
    >
      Add colour palette
    </button>
  </div>
</div>
