<div class="container">
  <h1 class="text-xl font-medium mt-2 mb-4">Shades Generator</h1>
</div>

<div class="container">
  <div class="grid md:grid-cols-3 max-w-screen-lg mx-auto">

    <!-- Form column -->
    <div class="md:col-span-1">
      <!-- Colour name -->

      <div class="">
        <label class="form-label" for="color-name">
          Colour name prefix
        </label>
        <input
          id="color-name"
          type="text"
          [value]="colorName"
          (change)="setColorName($event)"
          class="bg-gray-100 dark:bg-gray-700 px-2 py-1"
        />
      </div>

      <!-- Colour input -->
      <div class="pb-4">
        <label class="form-label" for="colour-picker">
          Colour
        </label>
        <div class="flex items-center">
          <input
            id="colour-picker"
            class="w-6 mr-1 rounded-sm cursor-pointer"
            [(colorPicker)]="color"
            [style.background]="color"
            (colorPickerChange)="recalculateShades()"
            [cpOKButton]="true"
          />
          <label for="colour-picker" class="cursor-pointer font-bold">
            {{color}}
          </label>
          <!-- <span class="text-xs ml-1">
            {{colorAsHsl}}
          </span> -->
        </div>
      </div>

      <!-- Colour from palette -->
      <div class="pb-4">
        <label for="pick-from-palette" class="form-label">
          Colour from palette
        </label>
        <div id="pick-from-palette" class="flex gap-1 flex-wrap">
          <div
            *ngFor="let swatch of defaultColorPalette"
            class="md:flex items-center justify-between w-10 h-10 cursor-pointer outline-1 outline-offset-1 outline-td_pink"
            [ngClass]="swatch === color ? 'outline-dashed' : ''"
            title="{{ swatch }}"
            (click)="setColor(swatch)"
            [ngStyle]="{ 'background': swatch }"
          >
          </div>
        </div>
      </div>

      <!-- Number of shades input -->

      <div class="pb-4">
        <label class="form-label" for="shades-count">
          Number of shades
        </label>
        <input
          id="shades-count"
          type="number"
          [value]="count"
          (change)="setCount($event)"
          class="bg-gray-100 dark:bg-gray-700 px-2 py-1"
        />
      </div>
    </div>


    <!-- Results column -->

    <div class="md:col-span-2">

      <!-- Swatches -->
      <div class="md:mt-0 mt-5">
        <div *ngFor="let swatch of swatches" class="md:flex items-center justify-between py-2 px-3" [ngStyle]="{ 'background': swatch.hex }">
          <span class="bg-black text-white py-1 px-2 rounded-sm">
            {{swatch.name}}
          </span>

          <div class="flex">
            <span class="bg-black/40 text-white p-1 text-xs">
              {{swatch.hex}}
            </span>

            <span class="bg-black/40 text-white p-1 text-xs">
              {{swatch.hsl}}
            </span>
          </div>
        </div>
      </div>

      <!-- TODO: Add code snippets -->
    </div>
  </div>
</div>
